<h1>My Task List</h1>
<% @tasks.each do |task| %>
<div><%= link_to task.title, task_path(task.id) %></div>
<%= link_to 'Delete', task_path(task.id), method: :delete %>
<% end %>

<%= link_to 'Create new task', new_path %>
